.Hero {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100vh;
}

.Hero h1 {
  color: white;
  font-size: var(--xlarge);
  font-weight: 500;
  margin: 0;
}

.Hero h2 {
  color: white;
  font-size: var(--large);
  font-size: 30px;
  font-weight: 300;
  margin: var(--small) 0;
}

.Hero h2 span {
  color: var(--yellow);
}