.about {
  
}

.about-header h1 {
  position: relative;
  color: var(--turq);
}

.about-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15rem;
  transform: translateX(-20%);
}

.about-shape .cls-1 {
  fill: var(--yellow);
}

.about-child-wrap {
  display: flex;
  align-items: center;
  padding: 8rem var(--xlarge);
}

@media (max-width: 991px) {
  .about-child-wrap {
    flex-direction: column;
  }
  .about-child-wrap > * {
    width: 100%;
  }
}