.About {
  padding: 10rem 0;
}

.About-header h1 {
  position: relative;
  color: var(--turq);
  margin-bottom: 8rem;
}

.About-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15rem;
  transform: translateX(-20%);
}

ul.About-features {
  list-style: none;
  display: grid;
  justify-content: space-evenly;
}

ul.About-features li {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--large);
}

ul.About-features li h3 {
  color: var(--turq);
  font-size: var(--large);
  font-weight: 600;
  margin: 1rem 0;
}

ul.About-features li p {
  color: grey;
  font-size: 16px;
  margin: 0;
  line-height: 2.2rem;
}

@media (min-width: 768px) {
  ul.About-features {
    grid-template-columns: 1fr 1fr;
  }
} 

@media (min-width: 992px) {
  ul.About-features {
    grid-template-columns: repeat(4, 1fr);
  }
}
