.development {
  background: black;
  padding: 10rem 0;
}
.development-header h1 {
  color: white;
}
.development-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
}
.development h3 {
  color: white;
  font-size: 2rem;
}
.development a {
  color: white;
  font-size: var(--xlarge);
  margin-bottom: 4rem;
  display: block;
}
.development a:hover {
  color: var(--turq);
}





















/* Temp Projects */
.tempProjects {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.tempProject {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30%;
  margin-bottom: 2rem;
}
.tempProject img {
  display: flex;
  object-fit: cover;
  width: 100%;
}
.tempProject h3 {
  margin-bottom: 0;
}
.tempProject a  {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .tempProjects {
    flex-flow: column;
  }
  .tempProject {
    width: 100%;
  }
}