.Contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10rem 0;
  background: #003C44;
}

.Contact h1 {
  color: white;
  margin-bottom: var(--small);
}

.Contact h2 {
  color: white;
  font-size: var(--medium);
  margin: 0 0 var(--xlarge);
}