.Skills {
  flex: 1;
  flex-basis: 40%;
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 4rem 12rem;
  margin: 0;
  background: var(--yellow);
}

.Skills p {
  color: var(--turqDark);
}

.Skills-skill {
  margin-bottom: var(--medium);
}

.Skills-skill__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Skills-skill__header > * {
  margin: 0 0 .5rem;
}

.Skills-skill__progress-bar {
  position: relative;
  width: 100%;
  height: 1.4rem;
  background: var(--turqDark);
  border-radius: var(--small);
  overflow: hidden;
}

.Skills-skill__progress-amount {
  height: 100%;
  background: var(--turq);
  transform: translateX(-110%) skewX(-40deg);
  transition: all 1s ease;
}

.Skills.animated .Skills-skill__progress-amount {
  transform: translateX(-5%) skewX(-40deg);
}

.Skills-skill#html .Skills-skill__progress-amount {
  width: 95%;
}

.Skills-skill#css .Skills-skill__progress-amount {
  width: 85%;
  transition-delay: 0.1s;
}

.Skills-skill#javascript .Skills-skill__progress-amount {
  width: 65%;
  transition-delay: 0.2s;
}

.Skills-skill#react .Skills-skill__progress-amount {
  width: 75%;
  transition-delay: 0.3s;
}

.Skills-skill#design .Skills-skill__progress-amount {
  width: 75%;
  transition-delay: 0.4s;
}

.Skills-skill#illustrator .Skills-skill__progress-amount {
  width: 85%;
  transition-delay: 0.5s;
}

.Skills-skill#photoshop .Skills-skill__progress-amount {
  width: 75%;
  transition-delay: 0.6s;
}